Repository Devolutions/IronRDP, pull requests merged in 2023-08, with the labels that each got.

#179 ci(cov): use GITHUB_TOKEN instead of DEVOLUTIONSBOT_TOKEN
  .github/workflows/coverage.yml
  xtask/src/cov.rs
Labels: A-CI

#167 Feature ironrdp-server
  Cargo.lock
  Cargo.toml
  crates/ironrdp-acceptor/Cargo.toml
  crates/ironrdp-acceptor/README.md
  crates/ironrdp-acceptor/src/channel_connection.rs
  crates/ironrdp-acceptor/src/connection.rs
  crates/ironrdp-acceptor/src/finalization.rs
  crates/ironrdp-acceptor/src/lib.rs
  crates/ironrdp-acceptor/src/util.rs
  crates/ironrdp-fuzzing/src/oracles/mod.rs
  crates/ironrdp-graphics/src/image_processing.rs
  crates/ironrdp-graphics/src/rdp6/bitmap_stream/decoder.rs
  crates/ironrdp-graphics/src/rdp6/bitmap_stream/encoder.rs
  crates/ironrdp-graphics/src/rdp6/bitmap_stream/mod.rs
  crates/ironrdp-graphics/src/rdp6/mod.rs
  crates/ironrdp-graphics/src/rdp6/rle.rs
  crates/ironrdp-pdu/src/basic_output/bitmap.rs
  crates/ironrdp-pdu/src/basic_output/bitmap/rdp6.rs
  crates/ironrdp-pdu/src/basic_output/fast_path.rs
  crates/ironrdp-server/Cargo.toml
  crates/ironrdp-server/README.md
  crates/ironrdp-server/src/builder.rs
  crates/ironrdp-server/src/capabilities.rs
  crates/ironrdp-server/src/display.rs
  crates/ironrdp-server/src/encoder/bitmap.rs
  crates/ironrdp-server/src/encoder/mod.rs
  crates/ironrdp-server/src/handler.rs
  crates/ironrdp-server/src/lib.rs
  crates/ironrdp-server/src/server.rs
  crates/ironrdp/Cargo.toml
  crates/ironrdp/src/lib.rs
  fuzz/fuzz_targets/bitmap_stream.rs
Labels: A-server

#182 CLIPRDR(clipboard) processing - initialization sequence
  Cargo.lock
  Cargo.toml
  crates/ironrdp-client/Cargo.toml
  crates/ironrdp-client/src/rdp.rs
  crates/ironrdp-cliprdr/Cargo.toml
  crates/ironrdp-cliprdr/src/lib.rs
  crates/ironrdp-cliprdr/src/pdu/capabilities.rs
  crates/ironrdp-cliprdr/src/pdu/format_data/file_list.rs
  crates/ironrdp-cliprdr/src/pdu/format_data/metafile.rs
  crates/ironrdp-cliprdr/src/pdu/format_list.rs
  crates/ironrdp-cliprdr/src/pdu/mod.rs
  crates/ironrdp-dvc/src/lib.rs
  crates/ironrdp-glutin-renderer/Cargo.toml
  crates/ironrdp-graphics/Cargo.toml
  crates/ironrdp-pdu/Cargo.toml
  crates/ironrdp-pdu/README.md
  crates/ironrdp-pdu/src/lib.rs
  crates/ironrdp-pdu/src/macros.rs
  crates/ironrdp-pdu/src/write_buf.rs
  crates/ironrdp-rdpdr/src/lib.rs
  crates/ironrdp-rdpsnd/src/lib.rs
  crates/ironrdp-server/src/display.rs
  crates/ironrdp-server/src/handler.rs
  crates/ironrdp-session/src/x224/mod.rs
  crates/ironrdp-svc/src/lib.rs
  crates/ironrdp-testsuite-core/tests/clipboard.rs
  crates/ironrdp/Cargo.toml
  crates/ironrdp/src/lib.rs
Labels: A-virtual-channel

#186 feat(CoreCapability): Core Capability PDUs and refactoring ironrdp-rdpdr internals
  ARCHITECTURE.md
  Cargo.lock
  crates/ironrdp-rdpdr/Cargo.toml
  crates/ironrdp-rdpdr/src/lib.rs
  crates/ironrdp-rdpdr/src/pdu/efs.rs
  crates/ironrdp-rdpdr/src/pdu/mod.rs
Labels: A-virtual-channel
