Repository Devolutions/IronRDP, pull requests merged in 2023-09, with the labels that each got.

#184 fix(pdu): don't be strict about platform type
  crates/ironrdp-client/src/config.rs
  crates/ironrdp-connector/src/connection.rs
  crates/ironrdp-pdu/src/rdp/capability_sets.rs
  crates/ironrdp-pdu/src/rdp/capability_sets/general.rs
  crates/ironrdp-pdu/src/rdp/capability_sets/general/tests.rs
  crates/ironrdp-server/src/capabilities.rs
  crates/ironrdp-web/src/session.rs
Labels: A-core

#189 feat: support for both Send and !Send Framed impls
  crates/ironrdp-async/src/framed.rs
  crates/ironrdp-connector/src/lib.rs
  crates/ironrdp-futures/src/lib.rs
  crates/ironrdp-pdu/src/lib.rs
  crates/ironrdp-pdu/src/macros.rs
  crates/ironrdp-tokio/src/lib.rs
  crates/ironrdp-web/src/session.rs
Labels: A-extra

#158 feat(blocking): initial implementation
  ARCHITECTURE.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/ironrdp-async/src/framed.rs
  crates/ironrdp-blocking/Cargo.toml
  crates/ironrdp-blocking/README.md
  crates/ironrdp-blocking/src/connector.rs
  crates/ironrdp-blocking/src/framed.rs
  crates/ironrdp-blocking/src/lib.rs
  crates/ironrdp-blocking/src/session.rs
  crates/ironrdp-client/Cargo.toml
  crates/ironrdp-client/README.md
  crates/ironrdp-client/src/rdp.rs
  crates/ironrdp-connector/src/connection.rs
  crates/ironrdp-futures/src/lib.rs
  crates/ironrdp-svc/src/lib.rs
  crates/ironrdp-tls/src/lib.rs
  crates/ironrdp-web/src/image.rs
  crates/ironrdp/Cargo.toml
  crates/ironrdp/examples/screenshot.rs
Labels: A-extra

#194 feat(cliprdr): Clipboard support for Windows
  ARCHITECTURE.md
  Cargo.lock
  Cargo.toml
  crates/ironrdp-acceptor/src/channel_connection.rs
  crates/ironrdp-client/Cargo.toml
  crates/ironrdp-client/src/clipboard.rs
  crates/ironrdp-client/src/lib.rs
  crates/ironrdp-client/src/main.rs
  crates/ironrdp-client/src/rdp.rs
  crates/ironrdp-cliprdr-native/Cargo.toml
  crates/ironrdp-cliprdr-native/README.md
  crates/ironrdp-cliprdr-native/src/lib.rs
  crates/ironrdp-cliprdr-native/src/windows.rs
  crates/ironrdp-cliprdr-native/src/windows/clipboard_data_ref.rs
  crates/ironrdp-cliprdr-native/src/windows/clipboard_impl.rs
  crates/ironrdp-cliprdr-native/src/windows/cliprdr_backend.rs
  crates/ironrdp-cliprdr-native/src/windows/os_clipboard.rs
  crates/ironrdp-cliprdr-native/src/windows/remote_format_registry.rs
  crates/ironrdp-cliprdr-native/src/windows/utils.rs
  crates/ironrdp-cliprdr/Cargo.toml
  crates/ironrdp-cliprdr/README.md
  crates/ironrdp-cliprdr/src/backend.rs
  crates/ironrdp-cliprdr/src/lib.rs
  crates/ironrdp-cliprdr/src/pdu/client_temporary_directory.rs
  crates/ironrdp-cliprdr/src/pdu/format_data/mod.rs
  crates/ironrdp-cliprdr/src/pdu/format_list.rs
  crates/ironrdp-connector/src/connection.rs
  crates/ironrdp-dvc/src/lib.rs
  crates/ironrdp-graphics/src/rdp6/rle.rs
  crates/ironrdp-pdu/README.md
  crates/ironrdp-pdu/src/macros.rs
  crates/ironrdp-rdpdr/src/lib.rs
  crates/ironrdp-rdpdr/src/pdu/efs.rs
  crates/ironrdp-rdpdr/src/pdu/mod.rs
  crates/ironrdp-rdpsnd/src/lib.rs
  crates/ironrdp-session/src/active_stage.rs
  crates/ironrdp-session/src/x224/mod.rs
  crates/ironrdp-svc/src/lib.rs
  crates/ironrdp-testsuite-core/tests/clipboard.rs
  rust-toolchain.toml
Labels: A-virtual-channel
