Repository Devolutions/IronRDP, pull requests merged in 2023-10, with the labels that each got.

#201 rdpdr next steps
  crates/ironrdp-client/src/rdp.rs
  crates/ironrdp-rdpdr/src/backend/mod.rs
  crates/ironrdp-rdpdr/src/backend/noop.rs
  crates/ironrdp-rdpdr/src/lib.rs
  crates/ironrdp-rdpdr/src/pdu/efs.rs
  crates/ironrdp-rdpdr/src/pdu/esc.rs
  crates/ironrdp-rdpdr/src/pdu/mod.rs
  crates/ironrdp-svc/src/lib.rs
Labels: A-virtual-channel

#240 refactor: use u16 for pointer position
  crates/ironrdp-client/src/gui.rs
  crates/ironrdp-client/src/rdp.rs
  crates/ironrdp-session/src/active_stage.rs
  crates/ironrdp-session/src/fast_path.rs
Labels: A-technical-debt

#239 fix(cliprdr): ensure string padding is zeroed
  crates/ironrdp-cliprdr/src/pdu/format_data/file_list.rs
  crates/ironrdp-pdu/src/rdp/client_info.rs
  crates/ironrdp-pdu/src/rdp/server_license/client_new_license_request.rs
  crates/ironrdp-pdu/src/rdp/server_license/server_upgrade_license.rs
  crates/ironrdp-pdu/src/rdp/session_info/logon_info.rs
  crates/ironrdp-pdu/src/rdp/vc/dvc/create.rs
  crates/ironrdp-pdu/src/utils.rs
Labels: bug

#235 `DeviceCreateRequest` and `DeviceCreateResponse`
  crates/ironrdp-rdpdr/src/backend/mod.rs
  crates/ironrdp-rdpdr/src/backend/noop.rs
  crates/ironrdp-rdpdr/src/lib.rs
  crates/ironrdp-rdpdr/src/pdu/efs.rs
  crates/ironrdp-rdpdr/src/pdu/mod.rs
  xtask/src/check.rs
Labels: A-virtual-channel

#237 docs: add "on bit flags" section
  ARCHITECTURE.md
  crates/ironrdp-pdu/README.md
Labels: documentation
